<div class="header bg-gradient-blue pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            
        
        <h1 class="text-white">Dossiers</h1>
        <p class="text-white">Organisez et accédez facilement à tous vos documents et vos fichiers. </p>
        </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input class="form-control" placeholder="Rechercher ..." type="text" [(ngModel)]="searchTerm" (keyup)="onSearch()">
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Dossiers</h3>
                </div>
                <br>
                <div class="col-12 text-left">
                    <h3 class="mb-0">Nouveau Dossier</h3>
                    <br>
                </div>
                <div class="container">
                    <form #addFolder="ngForm" (ngSubmit)="onSubmit()">
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-10">
                                    <select class="form-control" id="customer" name="customer" [(ngModel)]="selectedCustomerId" (change)="onCustomerChange()">
                                        <option value="" disabled="true">Sélectionnez un client</option>
                                        <option *ngFor="let customer of customersWithoutFolders" [ngValue]="customer.idCustomer">{{ customer.firstName }} {{ customer.lastName }}</option>
                                    </select>
                                </div>
                                <br><br>
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" placeholder="Nom Dossier" class="form-control form-control-alternative" [(ngModel)]="folderName" required>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-blue" [disabled]="!addFolder?.form?.valid"><i class="fa fa-plus"></i> | Ajouter </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card-body">
                      <div class="folder-container">
                        <div *ngFor="let ds of searchedFolder" class="folder-icon">
                          <i class="fas fa-folder" (click)="openFolder(ds.idFolder)"></i>
                          <span>{{ ds.name }} </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  