<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
 <span class="mask bg-gradient-primary opacity-10"></span>
<!-- Header container -->
                    </div>
                    <div class="container-fluid mt--7">
                      <div class="row">
                        <div class="col-xl-12 order-xl-1">
                          <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                              <div class="row align-items-center">
                                <div class="col-12">
                                  <h3 class="mb-0">Dossiers</h3>
                                  <hr>
                                </div>
                              </div>
                            </div>
                            <div class="card-body">
                              <form #addDossier="ngForm">
                                <div class="pl-lg-4">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div class="form-group">
                                        <label for="dossier" class="form-control-label">Sélectionnez un dossier </label>
                                        <select id="dossier" [(ngModel)]="selectedDossier" name="selectedDossier" class="form-control form-control-alternative">
                                          <option value="">Sélectionnez un dossier</option>
                                          <option *ngFor="let nomDossier of nomsDossiers" [value]="nomDossier">{{ nomDossier }}</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-lg-9">
                                      <div class="form-group">
                                        <!--<label for="nomDossier" class="form-control-label">Nouveau Dossier</label>-->
                                        <input type="text" name="nomDossier" id="nomDossier" placeholder="Nom Dossier" class="form-control form-control-alternative" ngModel>
                                      </div>
                                    </div>


                                    <div class="col-lg-3">
                                      <div class="form-group">
                                        <button type="submit" class="btn btn-primary" (click)="onSubmit(addDossier.value)" ><i class="fa fa-plus"></i> |  Ajouter Nouveau Dossier </button>
                                      </div>
                                    </div>
                                  </div>

                                  <div align="center">
                                    <button type="submit" class="btn btn-success" (click)="onDossierSelected()">Générer PDF</button>
                                  </div>

                              </div>

                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
