<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-primary opacity-10"></span>
  <!-- Header container -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <a href="javascript:history.back()"><i class="fa fa-arrow-left"></i> Revenir vers la Liste des Courriers</a>
              <hr>
              <h3 class="mb-0">Ajouter Courrier Arrivée Externe</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit(aeForm)" #aeForm="ngForm" enctype="multipart/form-data" >
            <div class="pl-lg-4">

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="numeroCourrier" class="form-control-label" >Numéro Courrier</label>
                    <input type="text" name="numeroCourrier" id="numeroCourrier" class="form-control form-control-alternative"
                    placeholder="Numéro Courrier" ngModel required pattern="03\d{4}">
                      <div style="color:red;" *ngIf="aeForm.controls['numeroCourrier'].hasError('pattern')">
                        Le numéro de Courrier Arrivée Externe doit commencer par "03" et avoir 6 chiffres.
                      </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="dateCourrier" class="form-control-label" >Date Courrier</label>
                    <input type="date" name="dateCourrier" id="dateCourrier" class="form-control form-control-alternative" ngModel>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="typeCourrier" class="form-control-label" >Type Courrier</label>
                    <select name="typeCourrier" class="form-control form-control-alternative" ngModel="ATTESTATION">
                      <option value="ATTESTATION">Attestation</option>
                      <option value="AVIS_D_ARRIVE">Avis d'arrivé</option>
                      <option value="AVIS_DE_PAIEMENT">Avis de paiment</option>
                      <option value="AVIS">Avis</option>
                      <option value="BON_DE_COMMANDE">Bon de commande</option>
                      <option value="BORDEREAU">Bordereau</option>
                      <option value="BULLETIN">Bulletin</option>
                      <option value="BULLETIN_DE_SOINS">Bulletin de soins</option>
                      <option value="COURRIER">Courrier</option>
                      <option value="CONSULTATION_FORMATION">Consultation formation</option>
                      <option value="CONSULTATION_PRIX">Consultation prix</option>
                      <option value="CONVOCATION">Convocation</option>
                      <option value="CORRESPONDANCE">Correspondance</option>
                      <option value="CERTIFICAT">Certificat</option>
                      <option value="CHEQUE">Chéque</option>
                      <option value="COMMUNIQUE">Communiqué</option>
                      <option value="CONDOLEANCE">Condoléance</option>
                      <option value="CONFIDENTIEL">Confidentiel</option>
                      <option value="CAUTION">Caution</option>
                      <option value="CERTIFICAT_MEDICAL">Certificat Medical</option>
                      <option value="DEMANDE_DE_PRET">Demande de pret</option>
                      <option value="DEMANDE_DE_TRAVAIL">Demande de travail</option>
                      <option value="DEMANDE">Demande</option>
                      <option value="DEVIS">Devis</option>
                      <option value="DOSSIER">Dossier</option>
                      <option value="DECISION">Décision</option>
                      <option value="DECOMPTE_FRAIS_MISS">Decompte Frais Mission</option>
                      <option value="DELEGATION">Delegation</option>
                      <option value="DEMANDE_D_EMPLOI">Demande d'emploi</option>
                      <option value="DEMANDE_D_ACHAT">Demande d'achat</option>
                      <option value="ETAT_D_ORDONNANCEMENT">Etat d'ordonnancement</option>
                      <option value="ETAT_TRANS_FACT_CER">Etat Trans Fact Cer</option>
                      <option value="FACTURE">Facture</option>
                      <option value="FAX">Fax</option>
                      <option value="FELICITATIONS">Félicitations</option>
                      <option value="LETTRE">Lettre</option>
                      <option value="Liste">Liste</option>
                      <option value="LETTRE_DE_GARANTIE">Lettre de garantie</option>
                      <option value="LETTRE_DE_RESERVE">Lettre de reserve</option>
                      <option value="NOTE">Note</option>
                      <option value="NOTE_DEBIT">Note débit</option>
                      <option value="NOTE_CIRCULAIRE">Note circulaire</option>
                      <option value="NOTE_CREDIT">Note crédit</option>
                      <option value="NOTE_D_INFORMATION">Note d'information</option>
                      <option value="NOTE_DE_SERVICE">Note de service</option>
                      <option value="OFFRE_DE_SERVICE">Offre de service</option>
                      <option value="ORDRE_DE_MISSION">Offre de mission</option>
                      <option value="ORDRE_DE_VIREMENT">Ordre de virement</option>
                      <option value="PLAN">Plan</option>
                      <option value="POUVOIR">Pouvoir</option>
                      <option value="PROCES_VERBAL">Procés verbal</option>
                      <option value="PROGRAMME">Programme</option>
                      <option value="QUESTIONNAIRE">Questionnaire</option>
                      <option value="RAPPEL">Rappel</option>
                      <option value="RAPPORT">Rapport</option>
                      <option value="RELEVE">Relevé</option>
                      <option value="SANCTION">Sanction</option>
                      <option value="TELEGRAMME">Telegramme</option>
                      <option value="T_FAX">T Fax</option>
                      <option value="TELEX">Telex</option>
                      <option value="VOEUX">Vœux</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="parVoie" class="form-control-label" >Par Voie</label>
                    <select name="parVoie" class="form-control form-control-alternative" ngModel="VOIE_NORMALE">
                      <option value="VOIE_NORMALE">Voie Normale</option>
                      <option value="FAX">Fax</option>
                      <option value="EMAIL">Email</option>
                      <option value="CONFIDENTIEL">Confidentiel</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="lien" class="form-control-label" >Lien</label>
                    <input type="text" name="lien" id="lien" class="form-control form-control-alternative" placeholder="Lien" ngModel>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="expediteur" class="form-control-label" >Expéditeur</label>
                    <input type="text" name="expediteur" id="expediteur" class="form-control form-control-alternative" placeholder="Expéditeur" ngModel>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="numOrigine" class="form-control-label" >Numéro Origine</label>
                    <input type="number" name="numOrigine" id="numOrigine" class="form-control form-control-alternative" placeholder="Numéro Origine" ngModel>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="dateOrigine" class="form-control-label" >Date Origine</label>
                    <input type="date" name="dateOrigine" id="dateOrigine" class="form-control form-control-alternative" ngModel>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="degre" class="form-control-label">Degré</label>
                    <select name="degre" class="form-control form-control-alternative" ngModel="NORMALE">
                      <option value="NORMALE">Normale</option>
                      <option value="SECRET">Secret</option>
                      <option value="IMPORTANT">Important</option>
                      <option value="TRES_IMPORTANT">Trés Important</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="reponse" class="form-control-label" >Réponse sur</label>
                    <input type="text" name="reponse" id="reponse" class="form-control form-control-alternative" placeholder="Réponse" ngModel>
                  </div>
                </div>
              </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="reponseExigee" class="form-control-label" >Réponse Exigée</label>
                  <input type="checkbox" name="reponseExigee" id="reponseExigee" ngModel>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="etatAvancement" class="form-control-label" >Etat d'avancement</label>
                  <select name="etatAvancement" class="form-control form-control-alternative" ngModel="EN_ATTENTE">
                    <option value="EN_ATTENTE">En Attente</option>
                    <option value="EN_COURS_DE_TRAITEMENT">En cours de traitement</option>
                    <option value="TRAITE">Traité</option>
                    <option value="ARCHIVE">Archivé</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="sujet" class="form-control-label" >Sujet</label>
                  <textarea rows ="5" cols ="60" name="sujet" id="sujet" class="form-control form-control-alternative" ngModel></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="file" class="form-control-label" >Pièce Jointe</label>
                  <input type="file" class="form-control" name="file" (change)="handleFileInput($event.target.files)" >
                </div>
              </div>
            </div>

          </div>
          <div class="col-12 text-right">
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
