
<div class="header bg-gradient-blue pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
      <h1 class="text-white">Utilisateurs</h1>
      <p class="text-white">Gérez les profils et les accès de tous les utilisateurs de votre système.</p>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="input-group input-group-alternative">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-search"></i></span>
    </div>
    <input class="form-control" placeholder="Rechercher ..." type="text" [(ngModel)]="searchTerm" (keyup)="onSearch()">
  </div>
  <br>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h2 class="mb-0">Liste des Utilisateurs</h2>
        </div>
        <div class="col-12 text-right">
        <button type="submit"  class="btn btn-blue" (click)="onAddUser()"><i class="fa fa-plus"></i> |  Ajouter Nouveau Utilisateur </button>
        <button type="button" class="btn btn-info" (click)="exportToPDF()">
          <i class="fa fa-file-pdf"></i> | Exporter PDF
        </button>
        <br>
        <br>
      </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom & Prénom</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Email</th>
                <th scope="col">Statut</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of searchedUser | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{u.firstName}} {{u.lastName}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{u.username}}
                </td>
                <td>
                  {{u.email}}
                </td>
             
                
                <td>
                  <button type="button" class="btn btn-link p-0" (click)="openSendMailPopup(u.id,u.active)" >
                    <span *ngIf="u.active" class="badge badge-success">Active</span>
                    <span *ngIf="!u.active" class="badge badge-danger">Inactive</span>
                  </button>
                  <!--<span *ngIf="u.notLocked" class="badge badge-success">Déverrouillé</span>
                  <span *ngIf="!u.notLocked" class="badge badge-danger">Verrouillé</span>-->
                  
               <!--   <span *ngIf="u.active" class="badge badge-success">Active</span>
                  <span *ngIf="!u.active" class="badge badge-danger">Inactive</span>
                  <span *ngIf="u.notLocked" class="badge badge-success">Déverrouillé</span>
                  <span *ngIf="!u.notLocked" class="badge badge-danger">Verrouillé</span>-->
                </td>
                
                <td>
                  <!--<button type="button" class="btn btn-sm btn-secondary mr-4" [routerLink]="['/info-user', u.id]"><i class="fa fa-eye"></i></button>-->
                  <button type="button" class="btn btn-sm btn-secondary mr-4" (click)="showUserDetails(u?.id)"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-sm btn-blue mr-4" [routerLink]="['/update-user', u.id]"><i class="fa fa-edit"></i></button>
                  <button type="button" class="btn btn-sm btn-danger mr-4" (click)="onDeleteUser(u?.id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <!--Pagination-->
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item" [class.disabled]="currentPage == 1">
                <a class="page-link"  (click)="currentPage = 1">&laquo;</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage == 1">
                <a class="page-link" (click)="currentPage = currentPage - 1">&lt;</a>
              </li>
              <li class="page-item" *ngFor="let page of getPages()" [class.active]="currentPage == page">
                <a class="page-link"  (click)="currentPage = page">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage == getTotalPages()">
                <a class="page-link"  (click)="currentPage = currentPage + 1">&gt;</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage == getTotalPages()">
                <a class="page-link"  (click)="currentPage = getTotalPages()">&raquo;</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayChange}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation de changement de statut</h4>
      </div>
      <div class="modal-body">
        <p>
          L'utilisateur est actuellement <span class="{{ currentActivationStatus ? 'actif' : 'inactif' }}">{{ currentActivationStatus ? 'Actif' : 'Inactif' }}</span>. <br>
          Êtes-vous sûr de vouloir changer son statut d'activation ?       </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="toggleUserActivation(idUser, currentActivationStatus)">
          Confirmer
        </button>
        <button type="button" class="btn btn-secondary" (click)="closeSendMailPopup()">
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>

