<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(); background-size: cover; background-position: center top;">
    <!-- Masque -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Conteneur de l'en-tête -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Bonjour {{ user?.username }} </h1>
                <p class="text-white mt-0 mb-5">Ceci est votre page de profil. Vous pouvez voir les progrès que vous avez réalisés dans votre travail et gérer vos projets ou les tâches assignées</p>
                <a href="#!" class="btn btn-info">Modifier le profil</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        
                    </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                <div>
                                    <span class="heading">{{ totalCases }}</span>
                                    <span class="description">Affaires</span>
                                </div>
                                <div>
                                    <span class="heading">{{ totalAuxiliaries }}</span>
                                    <span class="description">Auxiliaires</span>
                                </div>
                                <div>
                                    <span class="heading">89</span>
                                    <span class="description">Honoraires</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3>
                            {{ user?.firstName }} {{ user?.lastName }}<span class="font-weight-light">, {{ age(user?.birthDate) }}</span>
                        </h3>
                        <div class="h5 font-weight-300">
                            <i class="ni location_pin mr-2"></i>{{ user?.city }}, Tunisie
                        </div>
                        <div class="h5 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>Avocat
                        </div>
                        <hr class="my-4" />
                        <a href="javascript:void(0)">Afficher plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Mon compte</h3>
                        </div>
                        
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Détails </h5>                   
                    <form>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Nom d'utilisateur</label>
                                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Nom d'utilisateur" [(ngModel)]="user.username" name="username">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">E-mail</label>
                                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="E-mail" [(ngModel)]="user.email" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-firstName">Prénom</label>
                                        <input type="text" id="input-firstName" class="form-control form-control-alternative" placeholder="Prénom" [(ngModel)]="user.firstName" name="firstName">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-lastName">Nom de famille</label>
                                        <input type="text" id="input-lastName" class="form-control form-control-alternative" placeholder="Nom de famille" [(ngModel)]="user.lastName" name="lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-cin">CIN</label>
                                        <input type="text" id="input-cin" class="form-control form-control-alternative" placeholder="CIN" [(ngModel)]="user.cin" name="cin">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-birthDate">Date de naissance</label>
                                        <input type="date" id="input-birthDate" class="form-control form-control-alternative" placeholder="Date de naissance" [(ngModel)]="user.birthDate" name="birthDate">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Ville</label>
                                        <select id="input-city" class="form-control form-control-alternative" [(ngModel)]="user.city" name="city">
                                            <option *ngFor="let city of governorates" [value]="city">{{ city }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-gender">Genre</label>
                                        <select id="input-gender" class="form-control form-control-alternative" [(ngModel)]="user.gender" name="gender">
                                            <option value="true">Homme</option>
                                            <option value="false">Femme</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-lg btn-default" (click)="updateUser()">Mettre à jour</button>
                        </div>
                        <hr class="my-4" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





