<div class="py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenue!</h1>
          <p class="text-lead text-white">Connectez-vous ou inscrivez-vous pour accéder à votre dashboard</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-center">
            <br>
            <h2>Inscription</h2>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h4>Créer un compte LawyerSoft</h4>
          </div>
          <form role="form" #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
            <!--Last name-->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input type="text" class="form-control" name="firstName" placeholder="Nom" required [(ngModel)]="user.firstName" #firstNameInput="ngModel">
              </div>
              <span class="help-block" style="color:red;" *ngIf="firstNameInput.invalid && firstNameInput.touched">Veuillez entrer votre nom</span>
            </div>
            <!--First name-->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input type="text" class="form-control" name="lastName" placeholder="Prénom" required [(ngModel)]="user.lastName" #lastNameInput="ngModel">
              </div>
              <span class="help-block" style="color:red;" *ngIf="lastNameInput.invalid && lastNameInput.touched">Veuillez entrer votre prénom</span>
            </div>
            <!--Email-->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input type="email" class="form-control" name="email" placeholder="Email" required [(ngModel)]="user.email" #emailInput="ngModel">
              </div>
              <span class="help-block" style="color:red;" *ngIf="emailInput.invalid && emailInput.touched">Veuillez entrer votre email</span>
              <span class="help-block" style="color:red;" *ngIf="!isEmailValid(user.email) && emailInput.valid && emailInput.touched">L'adresse e-mail n'est pas valide</span>
            </div>
            <!--Password-->
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input type="password" class="form-control" name="password" placeholder="Mot de passe" required [(ngModel)]="user.password" #passwordInput="ngModel">
              </div>
              <span class="help-block" style="color:red;" *ngIf="passwordInput.invalid && passwordInput.touched">Veuillez entrer votre mot de passe</span>
              <div *ngIf="passwordInput.valid && passwordInput.touched" class="password-strength-indicator">
                Force du mot de passe: {{ getPasswordStrength() }}
              </div>  
              <span class="help-block" style="color:red;" *ngIf="getPasswordStrength() === 'faible' && passwordInput.touched">Le mot de passe ne respecte pas les critères de validation.</span>
            </div>
            <!--CIN-->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-badge"></i></span>
                </div>
                <input type="text" class="form-control" name="cin" placeholder="CIN" required [(ngModel)]="user.cin" #cinInput="ngModel">
              </div>
              <span class="help-block" style="color:red;" *ngIf="cinInput.invalid && cinInput.touched">Veuillez entrer votre CIN</span>
              <span class="help-block" style="color:red;" *ngIf="!isCinValid(user.cin) && cinInput.valid && cinInput.touched">Le CIN n'est pas valide</span>
            </div>
            <!--Birth date-->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input type="date" class="form-control" name="birthDate" placeholder="Date de naissance" required [(ngModel)]="user.birthDate" #birthDateInput="ngModel">
              </div>
              <span class="help-block" style="color:red;" *ngIf="birthDateInput.invalid && birthDateInput.touched">Veuillez entrer votre date de naissance</span>
            </div>
            <!--City-->
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                </div>
                <select class="form-control" id="city" name="city" [(ngModel)]="user.city">
                  <option *ngFor="let city of cityOptions" [value]="city">{{ city }}</option>
                </select>
              </div>
            </div>
            <!--Gender-->
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-favourite-28"></i></span>
                </div>
                <select class="form-control" id="gender" name="gender" [(ngModel)]="user.gender">
                  <option value="true">Masculin</option>
                  <option value="false">Féminin</option>
                </select>
              </div>
            </div>
            
            <div class="text-center">
              <button type="submit" name="button" [disabled]="registerForm.invalid" class="btn btn-primary my-4">Créer un compte</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
