.host {
    display: block;
    height: 70vh;
    background: url('C:/Users/marie/Documents/Github/LawyerSoft_Front/Avocat_Angular-master/src/assets/img/logo/17.png') no-repeat center center fixed;
    background-size: cover;
  }
  .bg-gradient-mar
  {
      background: linear-gradient(87deg, #B69D74 0, #f0e2cc 100%) !important;
  }