@import "~@angular/material/prebuilt-themes/indigo-pink.css";

    .bg-gradient-blue
{
    background: linear-gradient(87deg, #243d69 0, #f1f3f6 100%) !important;
}
.bg-blue
{
    background-color: #1b3d77 !important;
}
.chart {
    position: relative;
    height: 300px; // Adjust the height as needed
  }
  