<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Africa%2FTunis&bgcolor=%23ffffff&src=MTkzZjFiNGRiZmVhOTRhMGQ0NDE5ZTYyMmJkYTY5YzYwMzAzNDAwYmFmZjU3NTRmZjE3N2Y5MjRjN2Q1YjVhMUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZnIudG4ub2ZmaWNpYWwjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23D50000&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<!--<div class="card">
    <p id="title">Book Apointment</p>
    <form [formGroup]="appointmentForm" (ngSubmit)="scheduleMeeting()">
      <div class="form-group">
        <label for="appointmentTime">Meeting Time </label>
        <input
          type="datetime-local"
          id="appointmentTime"
          formControlName="appointmentTime"
        />
      </div>
      <div class="form-group">
        <label for="email">Email </label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
        />
      </div>
      <br/>
      <button type="submit" id="schedule-button">Schedule Appointment</button>
    </form>
  </div>-->