<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-primary opacity-10"></span>
  <!-- Header container -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <a href="javascript:history.back()"><i class="fa fa-arrow-left"></i> Revenir vers la Liste des Utilisateurs</a>
              <hr>
              <h3 class="mb-0">Ajouter Nouveau Utilisateur</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #newUserForm="ngForm" (ngSubmit)="onAddNewUser(newUserForm)">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="firstName" class="form-control-label" >Nom</label>
                    <input type="text" name="firstName" id="firstName" class="form-control form-control-alternative" placeholder="Nom" ngModel >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="lastName" class="form-control-label" >Prénom</label>
                    <input type="text" name="lastName" id="lastName" class="form-control form-control-alternative" placeholder="Prénom" ngModel>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="email" class="form-control-label" >Email</label>
                    <input type="text" name="email" id="email" class="form-control form-control-alternative" placeholder="Email" ngModel>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="authority" class="form-control-label" >Role</label>
                    <select name="role" class="form-control form-control-alternative" ngModel="ROLE_MANAGER">
                      <option value="ROLE_MANAGER">MANAGER</option>
                      <option value="ROLE_ADMIN">ADMIN</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="username" class="form-control-label" >Pseudo</label>
                    <input type="text" name="username" id="username" class="form-control form-control-alternative" placeholder="Pseudo" ngModel>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="password" class="form-control-label" >Mot de passe</label>
                    <input type="password" name="password" id="password" class="form-control form-control-alternative" placeholder="Mot de passe" ngModel>
                  </div>
                </div>
              </div>

          <div class="row">
            <div class="col-lg-12">
                <fieldset class="form-group">
                  <div class="form-check">
                    <label class="form-check-label" >
                    <input type="checkbox" name="active" ngModel class="form-check-input" > Active </label>
                  </div>

                  <div class="form-check">
                    <label class="form-check-label" >
                    <input type="checkbox" name="notLocked" ngModel class="form-check-input" > Déverrouillé </label>
                    </div>
              </fieldset>
            </div>
          </div>
          <div class="col-12 text-right">
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>




          </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

