<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">

  <div class="input-group input-group-alternative">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-search"></i></span>
    </div>
    <input class="form-control" placeholder="Rechercher ..." type="text" [(ngModel)]="searchTerm" (keyup)="onSearch()">
  </div>
  <br>

  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Dossiers</h3>
        </div>
        <br>

    <div class="col-12 text-left">
      <h3 class="mb-0">Nouveau Dossier</h3>
      <br>
    </div>

  <form #addDossier="ngForm">
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-lg-10">
          <div class="form-group">
            <input type="text" name="nomDossier" id="nomDossier" placeholder="Nom Dossier" class="form-control form-control-alternative" ngModel required>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!addDossier.valid" (click)="onSubmit(addDossier.value)" ><i class="fa fa-plus"></i> |  Ajouter </button>
          </div>
        </div>
      </div>
    </div>
  </form>



        <div class="card-body">
          <div class="row icon-examples">
            <div *ngFor="let ds of searchedDossier" class="col-lg-2 col-md-3 col-sm-4 col-6">
              <div class="folder-icon">
                <i class="fas fa-folder" (dblclick)="ouvrirDossier(ds.idDossier)"></i>
                <span>{{ ds.nomDossier }}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
